# Netbeans
/nbproject

# Eclipse
/.settings
/.buildpath
/.project

# Composer
composer.phar
composer.lock
/vendor

src/PhantomInstaller/PhantomBinary.php

/tests/example-extra-version/bin
/tests/example-extra-version/vendor
/tests/example-extra-version/composer.lock

/tests/example-latest-version/bin
/tests/example-latest-version/vendor
/tests/example-latest-version/composer.lock
