#
# .gitattributes
#

# Auto detect text files and perform LF normalization
*         text=auto

# PHP files
*.php     text eol=lf diff=php
*.phpt    text eol=lf diff=php
*.phtml   text eol=lf diff=html
*.twig    text eol=lf
*.phar    binary

# Configuration
phpcs.xml    text eol=lf
phpunit.xml  text eol=lf
phpstan.neon text eol=lf
psalm.xml    text eol=lf

# Fix syntax highlighting on GitHub to allow comments
.devcontainer.json  linguist-language=JSON-with-Comments
.vscode/*.json      linguist-language=JSON-with-Comments

# do not git export the following directories
.vscode/    export-ignore
build/      export-ignore
tests/      export-ignore

# do not git export the following files
.editorconfig   export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore